<main class="flex h-dvh">
  <aside class="flex flex-col justify-between h-full bg-slate-800">
    <div class="flex flex-col gap-2 p-2">
      <div
        routerLink="/ajout-serveur"
        matTooltip="Créer un nouveau serveur"
        matTooltipPosition="right"
        class="flex items-center justify-center rounded-full w-14 h-14 gap-2 bg-slate-600 hover:bg-slate-400"
      >
        <mat-icon class="text-blue-500" fontIcon="add"></mat-icon>
      </div>

      @for (serveur of listeServeur; track serveur._id) {

        <div
          [matTooltip]="serveur.nom"
          matTooltipPosition="right"
          (click)="onServeur(serveur)"
        >
          <img class="rounded-full size-14 gap-2" [attr.src]="serveur.urlLogo"/>
        </div>
      }
    </div>
  </aside>

  @if (selectedServeur) {
    <aside class="flex flex-col justify-between h-full w-1/10 bg-slate-900 w-60">
      <div class="flex flex-col p-2">
        <p class="flex justify-center text-lg">{{ selectedServeur.nom }}</p>
        <button mat-button color="primary" (click)="openDialog()">Créer salon</button>
        @for (salon of listeSalon; track salon._id) {
          <div class="flex flex-row justify-items-start hover:bg-slate-200/[.1]" style="cursor: pointer">
            <p (click)="onSalon(salon)">{{ salon.nom }}</p>
          </div>
        }
      </div>

      <div class="flex flex-row justify-center">
        <div class="p-2">
          <img
            class="rounded-full size-7 gap-2"
            src="https://play-lh.googleusercontent.com/0goocG7RJZDZ41ShfBPl-h7ctwHKHjqzn4nSImyL8_RWyXqeYNKw-CdGAKhgPGZG5Es"
          />
        </div>
        <div class="p-2">
          <span>John DOE</span>
        </div>
        <div class="p-2">
          <mat-icon
            class="bouton-profil"
            fontIcon="settings"
            routerLink="/profil"
          ></mat-icon>
        </div>
      </div>
    </aside>

  }

  @if (selectedSalon) {
    <div class="flex flex-col gap-2 w-full justify-between p-1 ">
      <div class="overflow-y-auto">
        @for (message of listeMessage; track message._id) {

          <div class="flex gap-4">
            <img
              src="{{message.userId.urlAvatar}}"
              class="rounded-full size-11"
            />
            <div>
              <div class="text-gray-600 text-md">{{ message.userId.prenom }} {{ message.userId.nom }}</div>
              <p>
                {{ message.contenu }}
              </p>
            </div>
            <div class="text-md">
              {{ message.createdAt | date:"dd MMM yyyy à HH:mm" }}
            </div>
          </div>

        }
      </div>
      <div>
        <form [formGroup]="formulaireMessage" (ngSubmit)="CreateMessage()">
          <input matInput formControlName="contenu" placeholder="Ecrire un message"
                 class="w-full text-slate-950 h-10 rounded px-2"/>
        </form>
      </div>
    </div>

    <div class="w-80 bg-slate-900">
      <div class="overflow-y-auto">
        @for (user of listeUser; track user._id) {

          <div class="flex justify-start items-center gap-2 p-2" [matMenuTriggerFor]="menu">
            <mat-menu #menu="matMenu">
              <div class="flex flex-col">

                  <button mat-menu-item (click)="userBlock( user._id, selectedServeur?._id)">
                    <mat-icon  class="text-red-600" >lock</mat-icon>
                    <span>Bloquer</span>
                  </button>

                  <button mat-menu-item (click)="userUnblock( user._id, selectedServeur?._id)">
                    <mat-icon class="text-emerald-600" >lock_open</mat-icon>
                    <span>Debloquer</span>
                  </button>

              </div>
            </mat-menu>

            <img
              src="{{user.urlAvatar}}"
              class="rounded-full size-10"
            />
            <div>{{ user.prenom }} {{ user.nom }}</div>
          </div>
        }
      </div>
    </div>

  }

</main>
